*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}

:root{
    --primary-bg-clr: #f0f2f5;
    --left-primary-icon-clr :#54656f;
    --chat-hover-clr:#f5f6f6;
    --light-icon:#8696a0;
    --left-chatheadding-strong:#111b21;
    --left-small-msg:#667781;
    --msg-send-bgclr:#d9fdd3;
    --white:#fff;
    --strong-bg-green:#008069;
    --prf-txt-clr:#3b4a54;
}
.flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}
.acontent-center{
    align-content: center;
}
.jbetween{
    justify-content: space-between;
}
.jcenter{
    justify-content: center;
}
.aitem-center{
    align-items: center;
}

body{
    background: linear-gradient(#00A783 0%,#00A783 130px,#DBDCDC 130px,#DBDCDC 100% );
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    overflow: hidden;
}
body::-webkit-scrollbar{
    width: 0px;
}
.container{
    max-width: 1500px;
    background-color: var(--white);
    width: calc(100% - 38px);
    margin: 0 auto;
    margin-top: 19px;
    height: calc(100% - 38px);
    overflow: hidden;
}

/* ............whats left */
.wht-left{
    width: 30%;
    height: 100%;
    /* position: relative; */
}
.wht-left-main{
    width: 100%;
    border-right: 1px solid #e9edef
}
.left-chatlist-headder{
    background-color: var(--primary-bg-clr);
    padding: 10px 16px;
}
.my-profile{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.my-profile img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.chatlist-head-icon1,
.chatlist-head-icon2,
.chatlist-head-icon3,
.chatlist-head-icon4{ 
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: var(--primary-bg-clr);
    background-image: url(../img/Capture.JPG);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: -5px -2px;
    margin-right: 10px;
}
.chatlist-head-icon2{
    background-position: -54px -2px;
}
.chatlist-head-icon3{
    background-position: -104px -2px;
}
.chatlist-head-icon4{
    background-position: -155px -2px;
    margin-right: 0;
    position: relative;
}
.chatlist-head-icon4-hov{
    background-color: rgba(11, 20, 26, 0.1);
    background-image: url(../img/menu-icon-hover.JPG);
    background-size: 48px;
    background-position: -4px -3px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-right: 0;
    position: relative;
}
.chatlist-head-menu{
    display: none;
    transition: 0.3s;
    width: 200px;
    background-color: var(--white);
    position: absolute;
    top: 44px;
    right: 8px;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(11,20,26,.26),0 2px 10px 0 rgba(11,20,26,.16);
}
.chatlist-head-menu ul{
    padding: 10px 0px;
}
.chatlist-head-menu ul li{
    cursor: pointer;
}
.chatlist-head-menu ul li:hover{
    background-color: var(--chat-hover-clr);
}
.chatlist-head-menu ul li a{
    display: block;
    padding: 9px 24px;
    color: var(--prf-txt-clr);
    font-size: 14px;
    color: var(--left-primary-icon-clr);
}

.left-srch{
    padding: 7px 14px;
    border-bottom: 1px solid #e9edef;
}
.left-srch-in{
    flex-grow: 1;
    margin-right: 10px;
    padding: 9px 0px;
    background-color: var(--primary-bg-clr);
    border-radius: 6px;
}
.left-srch-in i{
    color: var(--left-primary-icon-clr);
    font-size: 13px;
    margin: 0px 16px;
    cursor: pointer;
}
.left-srch-in input{
    flex-grow: 1;
    font-size: 13px;
    margin-left: 16px;
    margin-right: 30px;
    outline: none;
    border: none;
    background: transparent;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: var(--left-chatheadding-strong);
}
.contact-list{
    height: calc(100% - 111px);
    overflow: auto;
}
.contact-list::-webkit-scrollbar {
    width: 6px;
  }
.contact-list::-webkit-scrollbar-track {
    background: var(--white); 
  }
.contact-list::-webkit-scrollbar-thumb {
    background: #D7D7D7; 
  }
.unread-icon{
    width: 20px;
    height: 20px;
    background-color: var(--white);
    background-image: url(../img/unread_icon.JPG);
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    cursor: pointer;
}
.chat1{
    cursor: pointer;
    overflow: hidden;
}
.chat1-in{
    padding-left: 12px;
}
.chat1-profile{
    width: 50px;
    height: 50px;
    margin-right: 14px;
}
.chat1-profile img{
    height: 100%;
    border-radius: 50%;
}
.chat1-msg{
    flex-grow: 1;
    padding: 12px 18px 12px 0px;
    border-bottom: 1px solid #e9edef;
}
.chat1-msg-top{
    margin-bottom: 3px;
}
.chat1-msg-btm{
    color: var(--left-small-msg);
}
.chat1-msg-name{
    color: var(--left-chatheadding-strong);
    font-size: 17px;
}
.chat1-msg-time{
    font-size: 12px;
    color: var(--light-icon);
}
.chat1-msg-info{
    font-size: 13px;
}
.chat1-msg-hov-icon >i{
    color: var(--light-icon);
}
.chat1-msg-hov-icon > .fa-chevron-down{
    /* transform: translateX(30px); */
    display: none;
    transition: 0.5s;
}
.chat1:hover {
    background-color: var(--chat-hover-clr);
}
.chat1:hover .chat1-msg-hov-icon > .fa-chevron-down{
    /* transform: translateX(0); */
    display: block;
    margin-left: 5px;
    /* transition: 0.2s; */
}



/* ....................whats right side */
.wht-right{
    flex-grow: 1;
}
.wht-right-chat{
    background-image: url(../img/chat_background.png);
    width: 100%;
    height: 100%;
    flex-direction: column;
    /* background-size: cover; */
}
.right-chat-head{
    background-color: var(--primary-bg-clr);
    padding: 8px 16px;
}
.right-chat-head-left{
    flex-grow: 1;
    cursor: pointer;
}
.right-chat-prf{
    width: 44px;
    height: 44px;
}
.right-chat-prf >img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.right-chat-contact{
    margin-left: 12px;
}
.right-chat-head-srch{
    padding: 7px;
    cursor: pointer;
    margin-right: 4px;
    color: var(--left-primary-icon-clr);
}
.right-chat-head-right{
    margin-left: 8px;
}

.right-chat-menu-icon .chatlist-head-menu{
    top: 70px;
    right: 36px;
    /* display: block; */
    z-index: 1;
    width: 232px;
}

.right-chat-menu-icon-in{
    display: block;
    width: 36px;
    height: 36px;
    background-color: var(--primary-bg-clr);
    background-image: url(../img/Capture.JPG);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: -157px -4px;
    cursor: pointer;
}
.right-chat-menu-icon-in-hov{
    display: block;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-color: rgba(11, 20, 26, 0.1);
    background-image: url(../img/menu-icon-hover.JPG);
    background-size: 43px;
    background-position: -4px -3px;
}
.right-chat-btm{
    padding: 10px 17px 10px 10px;
    background-color: var(--primary-bg-clr);
}
.emoji, .attach{
    margin-right: 4px;
}
.emoji-in > span,
.attach-in > span{
    display: block;
    width: 40px;
    height: 40px;
    background-color: var(--primary-bg-clr);
    background-image: url(../img/msg-emoji.JPG);
    background-size: 86px;
    background-repeat: no-repeat;
    background-position: -1px 1px;
    cursor: pointer;
    border-radius: 50%;
}
.attach-in > span{
    background-position: -44px 0px;
}
.rec-in > span{
    display: block;
    width: 40px;
    height: 40px;
    background-color: var(--primary-bg-clr);
    background-image: url(../img/mic.JPG);
    background-size: 54px;
    background-repeat: no-repeat;
    background-position: -6px -6px;
    cursor: pointer;
    border-radius: 50%;
}
.msg-type{
    flex-grow: 1;
    margin-right: 16px;
}
.msg-type-in >input{
    width: 100%;
    font-size: 16px;
    padding: 12px;
    border: none;
    outline: none;
    border-radius: 8px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: var(--left-chatheadding-strong);
}

.right-chat-body{
    height: 100%;
    overflow: auto;
    padding-top: 12px;
    position: relative;
}
.right-chat-body::-webkit-scrollbar {
    width: 6px;
}
.right-chat-body::-webkit-scrollbar-track {
    background: transparent; 
}
.right-chat-body::-webkit-scrollbar-thumb {
    background: #C4C3BF; 
}
.right-chat-body .chatlist-head-menu{
    display: block;
    transition: 0.3s;
    width: 232px;
    background-color: var(--white);
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(11,20,26,.26),0 2px 10px 0 rgba(11,20,26,.16);
}
/* .chatlist-head-menu ul{
    padding: 10px 0px;
}
.chatlist-head-menu ul li{
    cursor: pointer;
}
.chatlist-head-menu ul li:hover{
    background-color: var(--chat-hover-clr);
}
.chatlist-head-menu ul li a{
    display: block;
    padding: 9px 24px;
    color: var(--prf-txt-clr);
    font-size: 14px;
    color: var(--left-primary-icon-clr);
} */
.msg-set{
    padding: 0 7%;
    margin-bottom: 8px;
}
.msg-set-in{
    width: 100%;
    display: inline-block;
}
.msg-in-set{
    max-width: 60%;
}
.msg-in{
    background-color: var(--white);
    display: inline-block;
    padding: 3px 10px 6px 10px;
    border-radius: 8px;
    box-shadow: 0 1px 0.5px rgb(11 20 26 / 13%);
}
.msg-in-msg{
    font-size: 14px;
    color: var(--left-chatheadding-strong);
}
.msg-in-time{
    color: var(--left-small-msg);
    font-size: 12px;
    float: right;
    width: 100%;
    display: block;
    text-align: right;
    margin: -12px 0 -4px 6px;
}
.send{
    float: right;
}
.send-in{
    background-color: var(--msg-send-bgclr);
}
.send-frst-msg,
.recv-frst-msg{
    position: relative;
}
.send-frst-msg::after{
    content: "";
    position: absolute;
    right: -9px;
    top: 0;
    border-top: 8px solid var(--msg-send-bgclr);
    border-right: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid var(--msg-send-bgclr);
    border-radius: 4px;
}
.recv-frst-msg::before{
    content: "";
    position: absolute;
    left: -9px;
    top: 0;
    border-top: 8px solid var(--white);
    border-right: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid var(--white);
    border-radius: 4px;
    transform: scale(-1,1);
}

/* .................profile details */
.user-prf-detail{
    /* position: absolute; */
    margin-left: -200%;
    width: 100%;
    height: 100%;
    /* left: 0; */
    transition: 0.3s;
    z-index: 1;
    background-color: var(--primary-bg-clr);
}
.prf-head{
    background-color: var(--strong-bg-green);
    padding: 62px 0px 18px 26px;
}
.prf-head-ic{
    color: var(--white);
    font-size: 20px;
    cursor: pointer;
}
.prf-head-h3{
    margin-left: 30px;
    font-size: 19px;
    color: var(--white);
}
.user-prf-overflow{
    overflow: auto;
    height: calc(100vh - 149px);
}
.user-prf-overflow::-webkit-scrollbar {
    width: 6px;
}
.user-prf-overflow::-webkit-scrollbar-track {
    background: var(--primary-bg-clr); 
}
.user-prf-overflow::-webkit-scrollbar-thumb {
    background: #C4C3BF; 
}
.prf-img{
    margin: 28px 0px;
}
.prf-img-in{
    width: 0px;
    height: 0px;
    cursor: pointer;
    transition: 0.7s;
}
.prf-img-in img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.user-name-contain{
    background-color: var(--white);
    padding: 14px 30px 10px 30px;
    box-shadow: 0 1px 3px rgb(11 20 26 / 8%);
}
.user-name{
    margin-bottom: 14px;
    color: var(--strong-bg-green);
    font-size: 12px;
}
.us-input{
    position: relative;
}
.us-input input{
    width: 100%;
    padding: 8px 0px;
    outline: none;
    border: none;
    font-size: 17px;
    color: var(--prf-txt-clr);
    pointer-events: none;
    cursor: text;
}
.us-input .fa-pen{
    position: absolute;
    right: 0px;
    top: 4px;
    color: var(--light-icon);
    cursor: pointer;
}
.user-warning{
    color: var(--light-icon);
    font-size: 13px;
    padding: 14px 30px 28px 30px;
    line-height: 1.5;
}
.us-abt{
    margin-bottom: 20px;
}

/* ...............contact-ifo */
.contact-info-overflow{
    overflow: auto;
    height: calc(100vh - 98px);
    margin-top: -100%;
    transition: 0.5s;
}
.contact-info-overflow::-webkit-scrollbar {
    width: 6px;
}
.contact-info-overflow::-webkit-scrollbar-track {
    background: var(--primary-bg-clr); 
}
.contact-info-overflow::-webkit-scrollbar-thumb {
    background: #C4C3BF; 
}
.contact{
    /* display: none; */
    width: 30%;
    background-color: var(--primary-bg-clr);
    transition: 0.3s;
    margin-right: -30%;

}
.contact-head{
    padding: 15px 30px;
    border-left: 1px solid #d1d7db;
    background-color: var(--primary-bg-clr);
    position: sticky;
}
.contact-head-ic{
    margin-right: 34px;
    color: var(--left-primary-icon-clr);
    font-size: 22px;
    cursor: pointer;
}
.contact-head-info{
    font-size: 15px;
    color: var(--left-chatheadding-strong);
}
.contact-prf{
    background-color: var(--white);
    flex-direction: column;
    padding: 25px 0px;
    box-shadow: 0 1px 3px rgb(11 20 26 / 8%);
    margin-bottom: 10px;
}
.contact-prf-in{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
}
.contact-prf-in img{
    width: 100%;
    height: 100%;
}
.contact-info-name{
    font-size: 25px;
    color: var(--prf-txt-clr);
}
.contact-info-number{
    color: var(--left-small-msg);
    font-size: 15px;
}
.contact-abt-section{
    background-color: var(--white);
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgb(11 20 26 / 8%);
    padding: 18px 30px;
}
.contact-abt{
    color: var(--left-small-msg);
    margin-bottom: 6px;
    font-size: 14px;
}
.contact-abt-content{
    color: var(--left-chatheadding-strong);
}
.contact-media{
    box-shadow: 0 1px 3px rgb(11 20 26 / 8%);
    background-color: var(--white);
    padding: 15px 30px 15px 30px;
    margin-bottom: 10px;
}
.contact-media-top{
    color: var(--left-small-msg);
    cursor: pointer;
}
.media-top-content{
    font-size: 13px;
}
.no-of-media span:nth-child(1){
    font-size: 14px;
    margin-right: 6px;
}
.no-of-media span:nth-child(2){
    font-size: 16px;
}
.contact-media-btm{
    margin-top: 10px;
}
.media1{
    margin-right: 8px;
    border: 8px solid var(--primary-bg-clr);
    border-radius: 8px;
    background-image: linear-gradient(rgba(0,0,0,0) 70%,rgba(0,0,0,.6) 100%);
    cursor: pointer;
}
.media1-in{
    width: 100px;
    height: 100px;
}
.media1-in img{
    width: 100%;
    height: 100%;
}
.contact-info-option{
    padding: 15px 30px 15px 40px;
    background-color: var(--white);
    box-shadow: 0 1px 3px rgb(11 20 26 / 8%);
    margin-bottom: 10px;
}
.str-msg .fa-star,
.mute-notify .fa-bell,
.encry-ic .fa-lock{
    color: var(--left-primary-icon-clr);
    font-size: 14px;
}
.str-msg p,
.mute-notify p,
.encry-content-dark p{
    color: var(--left-chatheadding-strong);
    margin-left: 18px;
    font-size: 17px;
}
.str-msg,
.mute-notify,
.disap,
.encry{
    padding: 15px 0px;
    cursor: pointer;
}
.str-msg .fa-chevron-right,
.disap .fa-chevron-right{
    color: var(--left-small-msg);
}
.mute-notify .fa-toggle-on,
.mute-notify .fa-toggle-off{
    color: #C4C3BF;
    font-size: 28px;
}
.disap-left-top span{
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../img/disappear.JPG);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: -3px 0px;
}
.disap-left-top p{
    color: var(--left-chatheadding-strong);
    margin-left: 10px;
    font-size: 17px;
}
.disap-off{
    margin-left: 30px;
    color: var(--light-icon);
}
/* .encry{
    margin: 20px 0px;
} */
.encry-content-light p{
    color: var(--light-icon);
    margin-left: 18px;
    font-size: 13px;
    margin-right: 50px;
    line-height: 1.6;
}
.danger{
    background-color: var(--white);
    color: #ea0038;
    font-size: 17px;
    margin-bottom: 35px;
    box-shadow: 0 1px 3px rgb(11 20 26 / 8%);
}
.block, .report, .delete{
    padding: 14px 40px;
    cursor: pointer;
}
.block:hover, .report:hover, .delete:hover{
    background-color: var(--chat-hover-clr);
}
.danger i{
    margin-right: 20px;
    transform: scaleX(-1);
    font-size: 18px;
}